<section class="intrest">
  <div class="intrest__details">
    <div class="intrest__details-content">
      <p class="intrest__details--earned">Total Interest Earned :<strong class="disclaimer__intrest--earned-amount">₹ 1,37,650.68 </strong></p>
      <span class="intrest__details--yield">(Yield at 12% p.a)</span>
      <p class="intrest__details--return">Total Returns :<strong class="disclaimer__intrest--return-amount">₹ 3,37,650.68 </strong></p>
    </div>
    <div class="intrest__details-logo">
      <img src="../../../assets/Vector.png" alt="" class="intrest__details-logo-vector">
      <img src="../../../assets/Coin_illus.svg" alt="logo" class="intrest__details-logo-img">
    </div>
  </div>
  <div class="intrest__disclaimer">
   <h3>Disclaimer: </h3>
   <p>The actual number can vary slightly based on actual Interest Payment date</p>
  </div>
</section>
