<div class="payment-order">
  <button (click)="showPrev()" class="prev" [disabled]="!prevBtn">Show prev</button>
  <ul class="payment-order__list">
      <li class="payment-order__list--item" *ngFor="let payment of tempArr">
        <span class="payment-order__list--item-status-success" *ngIf="payment.isPaymentDone">
        <img src="{{successIconSrc}}" alt="icon" height="24" width="24">
      </span>
       <span  class="payment-order__list--item-status-pending"*ngIf="!payment.isPaymentDone">{{payment.id}}</span>
         <span class="payment-order__list--item-date"> {{payment.date}} </span>
         <span class="payment-order__list--item-amount">
           <span class="rupee-symbol">&#8377;</span>&nbsp;{{payment.amount}}</span>
         <span class="payment-order__list--item-info"> {{payment.active}}</span>
      </li>
   </ul>
   <button (click)="showNext()" class="next" [disabled]="!nextBtn"> show more .. </button>
</div>

